/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* LAYOUT STYLES */
body {
  font-size: 15px;
  line-height: 1.5;
  background: url(../images/BackGraphic.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  font-family: "HGP創英角ｺﾞｼｯｸUB",sans-serif;
  font-weight: 500;
  color: #666;
  width: 100%;     
}

a {
  color: #2879d0;
}
a:hover {
  color: #2268b2;
}

header {                   
  position: relative;  
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "HGP創英角ｺﾞｼｯｸUB",sans-serif;
  background:url(../images/Logo.png) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: solid 1px; 
  width:100%;
  height : auto;
  margin: 0 auto; 
}

header h1 {
  letter-spacing: -1px;
  font-size: 72px;
  color: #fff;
  line-height: 1;
  margin-bottom: 0.2em;
  width: 640px;
}

header h2 {
  font-size: 26px;
  color: #9ddcff;
  font-weight: normal;
  line-height: 1.3;
  width: 540px;
  letter-spacing: 0;
}

.inner {
  position: relative;
  width: 1100px;
  margin: 0px 70px auto;
}

#content-wrapper {
  position: relative;   
  margin: 70px auto;
  width : 90%;   
  color: #000000;
  background-color: rgba(255,255,255,0.6);   
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    
#home {
  position: relative;   
  margin: 70px auto;
  width : 90%;   
  height : 1500px;
  color: #000000;
  background-color: rgba(255,255,255,0.6);   
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main-content {    
  width : 100%;        
  float: left;   
  margin: 50px auto;
  
}

#main-content img {
  max-width: 100%; 
}

#main-content li {      
  float: left;    
  position: relative;
  float: left; 
  vertical-align: middle; /* 縦方向の揃える */ 
}

.date{
  white-space: nowrap;
  display: inline-block;
  _display: inline;
  font-size: 25px;
}
.date year:after {
  content: "年";      
}
.date month:after {
  content: "月";      
}
.date day:after {
  content: "日";     
}
.update{        
  width:100%;
  max-width:350px;               
  position: relative;  
  padding-left: 30px;
  min-height: 200px;
  float: right;
  margin: -600px 750px auto; 
  font-family: 'HGP創英角ｺﾞｼｯｸUB', Helvetica, sans-serif;
}
.update h1{
  color: #ffffff;     
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.5);
  font-size: 30px;
  padding-left: 30px;
  background: #ffa020;
  background: -o-linear-gradient(top, #ffa020, #e07000);
  background: -ms-linear-gradient(top, #ffa020, #e07000);
  background: -webkit-linear-gradient(top, #ffa020, #e07000);
  background: -moz-linear-gradient(top, #ffa020, #e07000);
  background: linear-gradient(to bottom, #ffa020, #e07000);
  box-shadow: inset 0 -3px 0 #e07000,                  
				inset 0 -3px 3px #e07000, 
				inset 0 2px 2px #e07000, 
				inset 1px 0 2px #e07000, 
				inset -1px 0 2px #e07000, 
				0 1px 1px rgba(0, 0, 0, 0.1), 
				0 2px 2px rgba(0, 0, 0, 0.06), 
				0 3px 3px rgba(0, 0, 0, 0.17), 
				2px 1px 2px rgba(0, 0, 0, 0.05),
				 -2px 1px 2px rgba(0, 0, 0, 0.05);

}
.update h2{
  padding-left: 10px;
  font-size: 20px; 
}
.update ul{
  background: rgba(255,150,30,0.5);
  padding-left: 30px; 
}

.more_update{        
  width:100%;
  max-width:550px;               
  position: relative;  
  padding-left: 30px;
  float: right;
  margin: -600px 500px auto; 
  font-family: 'HGP創英角ｺﾞｼｯｸUB', Helvetica, sans-serif;
}
.more_update h1{
  color: #ffffff;     
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.5);
  font-size: 30px;
  padding-left: 30px;
  background: #ffa020;
  background: -o-linear-gradient(top, #ffa020, #e07000);
  background: -ms-linear-gradient(top, #ffa020, #e07000);
  background: -webkit-linear-gradient(top, #ffa020, #e07000);
  background: -moz-linear-gradient(top, #ffa020, #e07000);
  background: linear-gradient(to bottom, #ffa020, #e07000);
  box-shadow: inset 0 -3px 0 #e07000,                  
				inset 0 -3px 3px #e07000, 
				inset 0 2px 2px #e07000, 
				inset 1px 0 2px #e07000, 
				inset -1px 0 2px #e07000, 
				0 1px 1px rgba(0, 0, 0, 0.1), 
				0 2px 2px rgba(0, 0, 0, 0.06), 
				0 3px 3px rgba(0, 0, 0, 0.17), 
				2px 1px 2px rgba(0, 0, 0, 0.05),
				 -2px 1px 2px rgba(0, 0, 0, 0.05);

}
.more_update h2{
  padding-left: 10px;
  font-size: 20px; 
}
.more_update ul{
  background: rgba(255,150,30,0.5);
  padding-left: 30px; 
}
.updatebutton {
    color: #fff;
    text-decoration: none;
    background: #5599FF;
    width: 90%;
    padding: 10px 0px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; 
  	border-radius: 20px;
}
.updatebutton:hover {
    background-size: 50px 50px;
    background-position: right 50%;
    background-color: #7999EE;
}
.updatebutton::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    background: url("../images/Ugepi.png") no-repeat 0 50%;
    background-size: 28px 28px;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.updatebutton:hover::before {
    left: 180px;
    background-size: 50px 50px;
}
.updatebutton span {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}
.updatebutton:hover span {
    margin-left: -100px;
	color: #ffffff;
}

.pickup{         
  width: 100%;
  max-width: 400px;
  padding-left: 30px;
  min-height: 200px;
  float: right;
  margin: -600px 330px auto; 
  font-family: 'HGP創英角ｺﾞｼｯｸUB', Helvetica, sans-serif;
}
.pickup h1{
  color: #ffffff;     
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.5);
  font-size: 30px;
  padding-left: 30px;
  background: #ffa020;
  background: -o-linear-gradient(top, #ffa020, #e07000);
  background: -ms-linear-gradient(top, #ffa020, #e07000);
  background: -webkit-linear-gradient(top, #ffa020, #e07000);
  background: -moz-linear-gradient(top, #ffa020, #e07000);
  background: linear-gradient(to bottom, #ffa020, #e07000);
  box-shadow: inset 0 -3px 0 #e07000,                  
				inset 0 -3px 3px #e07000, 
				inset 0 2px 2px #e07000, 
				inset 1px 0 2px #e07000, 
				inset -1px 0 2px #e07000, 
				0 1px 1px rgba(0, 0, 0, 0.1), 
				0 2px 2px rgba(0, 0, 0, 0.06), 
				0 3px 3px rgba(0, 0, 0, 0.17), 
				2px 1px 2px rgba(0, 0, 0, 0.05),
				 -2px 1px 2px rgba(0, 0, 0, 0.05);

}
.pickup h2{
  padding-left: 10px;
  font-size: 20px; 
}
.pickup ul{
  background: rgba(255,150,30,0.5);
  padding-left: 30px; 
}

.new_work{   
  float: left;       
  width: 100%;
  max-width:1200px;
  padding-left: 0px;
  min-height: 100px;
  margin:  0px 0px auto; 
  font-family: 'HGP創英角ｺﾞｼｯｸUB', Helvetica, sans-serif;
  background: rgba(255,150,30,0.5);
}
.new_work h1{
  color: #ffffff;     
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.5);
  font-size: 30px;
  padding-left: 30px;
  background: #ffa020;
  background: -o-linear-gradient(top, #ffa020, #e07000);
  background: -ms-linear-gradient(top, #ffa020, #e07000);
  background: -webkit-linear-gradient(top, #ffa020, #e07000);
  background: -moz-linear-gradient(top, #ffa020, #e07000);
  background: linear-gradient(to bottom, #ffa020, #e07000);
  box-shadow: inset 0 -3px 0 #e07000,                  
				inset 0 -3px 3px #e07000, 
				inset 0 2px 2px #e07000, 
				inset 1px 0 2px #e07000, 
				inset -1px 0 2px #e07000, 
				0 1px 1px rgba(0, 0, 0, 0.1), 
				0 2px 2px rgba(0, 0, 0, 0.06), 
				0 3px 3px rgba(0, 0, 0, 0.17), 
				2px 1px 2px rgba(0, 0, 0, 0.05),
				 -2px 1px 2px rgba(0, 0, 0, 0.05);

}    
.new_work li{ 
  position: relative;
  float: left; 
  vertical-align: middle; /* 縦方向の揃える */ 
  padding: 20px 20px 20px 25px;
}   


.show{   
  float: left;       
  width: 100%;
  max-width:1200px;
  padding-left: 0px;
  min-height: 100px;
  margin:  50px 0px auto; 
  font-family: 'HGP創英角ｺﾞｼｯｸUB', Helvetica, sans-serif;
  background: rgba(255,150,30,0.5);
}
.show h1{
  color: #ffffff;     
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.5);
  font-size: 30px;
  padding-left: 30px;
  background: #ffa020;
  background: -o-linear-gradient(top, #ffa020, #e07000);
  background: -ms-linear-gradient(top, #ffa020, #e07000);
  background: -webkit-linear-gradient(top, #ffa020, #e07000);
  background: -moz-linear-gradient(top, #ffa020, #e07000);
  background: linear-gradient(to bottom, #ffa020, #e07000);
  box-shadow: inset 0 -3px 0 #e07000,                  
				inset 0 -3px 3px #e07000, 
				inset 0 2px 2px #e07000, 
				inset 1px 0 2px #e07000, 
				inset -1px 0 2px #e07000, 
				0 1px 1px rgba(0, 0, 0, 0.1), 
				0 2px 2px rgba(0, 0, 0, 0.06), 
				0 3px 3px rgba(0, 0, 0, 0.17), 
				2px 1px 2px rgba(0, 0, 0, 0.05),
				 -2px 1px 2px rgba(0, 0, 0, 0.05);

}    
.show li{ 
  position: relative;
  float: left; 
  vertical-align: middle; /* 縦方向の揃える */ 
  padding: 20px 20px 20px 25px;
}   
aside#sidebar {
  width: 100%;
  height: auto;
  max-width:300px;
  padding-left: 100px;
  float: right;
  margin: 50px 0px auto;
  
}

aside#sidebar p.repo-owner,
aside#sidebar p.repo-owner a {
  font-weight: bold;
}

#downloads {
  margin-bottom: 40px;
}

a.button {
  width: 134px;
  height: 58px;
  line-height: 1.2;
  font-size: 23px;
  color: #fff;
  padding-left: 68px;
  padding-top: 22px;
  font-family: "HGP創英角ｺﾞｼｯｸUB",sans-serif;
}

a.button small {
  display: block;
  font-size: 11px;
}
header a.button {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent url(../images/github-button.png) 0 0 no-repeat;
}
aside a.button {
  width: 138px;
  padding-left: 64px;
  display: block;
  background: transparent url(../images/download-button.png) 0 0 no-repeat;
  margin-bottom: 20px;
  font-size: 21px;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #222;
  margin-bottom: 30px;
  font-size: 13px;
}

code {
  background-color: #f2f8fc;
  border: solid 1px #dbe7f3;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #fff;
  text-shadow: none;
  overflow: auto;
  border: solid 1px #f2f2f2;
}
pre code {
  color: #2879d0;
  background-color: #fff;
  border: none;
  padding: 0;
}

ul, ol, dl {
  margin-bottom: 20px;
}


/* COMMON STYLES */

hr {
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  border: 1px solid #ebebeb;
  text-align: center; 
  font-weight: 300;
}


/* GENERAL ELEMENT TYPE STYLES */

#main-content h1 {
  font-family: "HGP創英角ｺﾞｼｯｸUB",sans-serif;
  font-size: 3.8em;
  letter-spacing: -1px;
  color: #474747;
} 

#main-content h1:before {
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -0.9em;
}

#main-content h2 {
  font-family: "HGP創英角ｺﾞｼｯｸUB",sans-serif;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
} 
#main-content h2:before {
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -1.5em;
}

#main-content h3 {
  font-family: "HGP創英角ｺﾞｼｯｸUB",sans-serif;
  font-size: 38px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #474747;
} 
 
#main-content h3:before {
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2em;
}

#main-content h4 {
  font-family: "HGP創英角ｺﾞｼｯｸUB",sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #474747;
} 

h4:before {
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2.8em;
}

#main-content h5 {
  font-family: "HGP創英角ｺﾞｼｯｸUB",sans-serif;
  font-size: 24px;
  color: #474747;
} 
h5:before {
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -3.2em;
}

#main-content h6 {  
  font-family: "HGP創英角ｺﾞｼｯｸUB",sans-serif;
  font-size: .18em;
  color: #474747;
} 
h6:before {
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -3.7em;
}

p {
  margin-bottom: 20px;
}
 
a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
}

ul {
  padding-left: 30px;
}

ol {
  list-style: decimal inside;
  padding-left: 3px;
}

dl dd {
  font-style: italic;
  font-weight: 100;
}

footer {        
  margin: 0 auto;
  color: #000000;
  padding-bottom: 150px;
  font-family: "HGP創英角ｺﾞｼｯｸUB",sans-serif;
  background:url(../images/LabLogo.png) 50px 0 no-repeat;
}

footer a {
  color: #666;             
}
footer a:hover {
  color: #444;
}

.MemberBox {
  float: left;
  width: 1000px;
}
.MemberBox li{
  float: left; 
  margin: 10px; /* 周囲の余白 */
  width: 180px;
  height: 150px;
  list-style-type: none; /* リスト項目のマーカー無し */
  text-align: center; /* 3.中央寄せ */
  font-family: "HGP創英角ｺﾞｼｯｸUB",sans-serif;   
  font-size: 20px;  /* 5.文字サイズ */
  color: #343434;
  position: relative;
  top: 0px;
  padding: 0px 0px 20px 0px;
}
.MemberBox li img{
  background-color: #eeeeff;  /* 2.背景色 */
  border: 1px dashed #ffff00; /* 1.枠線 */
  display: table-cell; /* 縦方向に対する高さを揃える */
  width: 170px;
  height: 150px;
  vertical-align: middle; /* 縦方向の揃える */ 
}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}


/* ページトップへ戻る */
.pageTop {
	position:relative;
	width:100%;
	max-width:900px;
	margin:0 auto;
}
.pageTop a {
	position: fixed;
	bottom: 0px;
	left:auto;
	display: block;
	width: 100px;
	height:100px;
	margin-left:920px;
	z-index:1000; 
    background: url(../images/Ugepi.png) 0 0 no-repeat;
}
.pageTop a:before,
.pageTop a:after {
	position:absolute;
	left:50%;
	content:"";
	width:0px;
	height:0px;
	margin-left:-10px;
	border:10px solid transparent;
}
.pageTop a:before {  
	top:50%;
}
.pageTop a:after {  
	top:50%;
}

.Link {
	font-family: "HGP創英角ｺﾞｼｯｸUB",sans-serif;  
	width: 1000px;
	float: left;
	position:relative;
  	margin: 0 auto;
  	padding-left: 0px; 
	color: #00BFFF;	
}
.Link a:visited { 
}
.Link a:hover {
	color: #ffff00; 
}
.Link a:active { 
	color: #ff8000; 
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .inner {
    width: 740px;
  }
  header h1, header h2 {
    width: 340px;
  }
  header h1 {
    font-size: 60px;
  }
  header h2 {
    font-size: 30px;
  }
  #main-content {
    width: 490px;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .inner {
    width: 93%;
  }
  header {
    padding: 20px 0;
  }
  header .inner {
    position: relative;
  }
  header h1, header h2 {
    width: 100%;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 24px;
  }
  header a.button {
    background-image: none;
    width: auto;
    height: auto;
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    font-size: 13px;
    line-height: 1;
    background-color: #9ddcff;
    color: #2879d0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;                     
    border-radius: 5px;    
  }
  header a.button small {
    font-size: 13px;
    display: inline;
  }
  #main-content,
  aside#sidebar {
    float: none;
    width: 100% ! important;
  }
  aside#sidebar {
    background-image: none;
    margin-top: 20px;
    border-top: solid 1px #ddd;
    padding: 20px 0;
    min-height: 0;
  }
  aside#sidebar a.button {
    display: none;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@charset "UTF-8";


#fade {
    display: none;
}
#fade_footer {
    display: none;
}
  
.Collage{

    /* define how much padding you want in between your images */
    padding:10px;

    }

.Collage img{

    /* ensures padding at the bottom of the image is correct */
    vertical-align:bottom;

    /* hide the images until the plugin has run. the plugin will reveal the images*/
    opacity:0;

    }