Cola{
    width:100%;
    background: url(../Image/Cola.jpg) no-repeat;
}
Calpis{
    width:100%;
    background: url(../Image/Calpis.jpg) no-repeat;
}
Orange{
    width:100%;
    background: url(../Image/Orange.jpg) no-repeat;
}
Oolong{
    width:100%;
    background: url(../Image/Oolong.jpg) no-repeat;
}
Sports{
    width:100%;
    background: url(../Image/Sports.jpg) no-repeat;
}
Cone{
    width:100%;
    background: url(../Image/Cone.jpg) no-repeat;
}
Vitamin{
    width:100%;
    background: url(../Image/Vitamin.jpg) no-repeat;
}
Cocoa{
    width:100%;
    background: url(../Image/Cocoa.jpg) no-repeat;
}
Coffee{
    width:100%;
    background: url(../Image/Coffee.jpg) no-repeat;
}
MilkTea{
    width:100%;
    background: url(../Image/MilkTea.jpg) no-repeat;
}
GreenTea{
    width:100%;
    background: url(../Image/GreenTea.jpg) no-repeat;
}